{
  "presets": [
    [
      "babel-preset-gatsby",
      {
        "targets": {
          "browsers": [">0.25%", "not dead", "not IE 11"]
        }
      }
    ]
  ],
  "plugins": [
    [
      "@flair/plugin",
      {
        "themePath": "./src/styles/theme.js"
      }
    ],
    "@babel/plugin-proposal-optional-chaining"
  ]
}
